*, *:before, *:after {
  box-sizing: border-box;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

html, body {
  min-height: 100%;
}

body {
  background-color: $beige;
  background: url(../img/background-blur.jpg) center bottom no-repeat;
  background-size: cover;
  display: grid;
  align-items: start;
  font-family: 'Inconsolata', monospace;
  color: #222;
}

a {
  color: inherit;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.btn {
  background: $green;
  border: 0;
  padding: 1rem;
  cursor: pointer;
  outline: none;
  margin: 0 0.5rem;
  text-transform: uppercase;
  border: 1px solid darken($green, 5%);
}