.footer {
  background: $darkBlue;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  @include respond-to(tablet) {
    padding: 0;
  }
  
  h2, h3, h4, a, & > * {
    color: #fff;
    line-height: 1.2;
  }
  
  h2:not(.no-margin) {
    @include respond-to(desktop) {
      margin-bottom: 8rem;
    }
  }
  
  h4, p {
    margin: 0;
  }
  
  address {
    font-style: normal;
  }
  
  &__image--overlap {
    position: absolute;
    right: 4rem;
    top: -120%;
    display: none;
    @include respond-to(hd) {
      display: block;
    }
  }
}

.footer__row {
  display: flex;
  flex-wrap: wrap;
}

.footer__col {
  flex: 0 1 100%;
  @include respond-to(desktop) {
    flex: 1;
  }
}

.footer__row:nth-last-child(2) {
  
  .footer__col:last-child {
    margin-bottom: 4rem;
    
    @include respond-to(desktop) {
      margin: 0;
    }
  }
}

.footer__row:last-child {
  
  .footer__col:first-child {
    align-self: flex-end;
    padding-bottom: .5rem;
  }
  
  .footer__col:last-child {
    order: -1;
    @include respond-to(desktop) {
      order: 0;
    }
  }
  
  .footer__col:nth-last-child(2){
    margin-top: 8rem;
    
    @include respond-to(desktop) {
      margin: 0;
    }
  }
}